<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                Glassbreakers
            </h2>
            <p>
                Mentorship for the modern woman. 
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/FTW/glassbreakers.png"/>
            </div>
            <p>
                Glassbreakers is a community for women to build their professional network, and meet peer mentors with similar career goals. The company started as a consumer product, and now is expanding into enterprise.
            </p>
            <p>
                I am a user experience consultant with Glassbreakers.
            </p>
        </div>
        <div class="work_section_last">
            <h3>
                Working with the product team
            </h3>
            <div class="product_images">
                <img class="iphone_vert" src="/img/iphone/glassbreakers_insta.png"/>
            </div>
            <p>
                The team at Glassbreakers is lead by Lauren Mosenthal, a developer and product leader who I met at BDW. Along with the growing team of full time designers and engineers, there is a small team of design and copywriting contractors who work each week called "the forge". This contractor team meets on a weekly basis as needed. We work through problems with the product - white boarding, building, and designing. 
            </p>
            <a class="ref_link" href="https://medium.com/@laurenmosenthal/i-m-a-software-engineer-that-went-to-design-school-849a7355d885"><p>Read Lauren's blog post about the team ></p><a/>
        </div>
    </div>
</div>
