<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                Kubmo
            </h2>
            <p>
                Technology workshops for women in the developing world. 
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/FTW/kubmo.png"/>
            </div>
            <p>
                Kubmo works with global communities and programs to inspire women to pursue careers in technology and entrepreneurship. Please reach out if you're interested in a partnership!
            </p>
            <p>
                I created this project with Kinsey Durham while studying design at a graduate program in Boulder, called BDW.
            </p>
        </div>
        <div class="work_section">
            <h3>
                The BizTech Workshop
            </h3>
            <p>
                Kubmo partnered with the Muthaa Community Development Foundation for the first workshop in Nairobi, Kenya. Each woman in the program applied with a business idea. Once they were accepted, they recieved a smart phone, took part in the 3-day workshop, and were given a year of mentorship from professionals in their local community.  
            </p>
            <a class="ref_link" href="http://www.kubmo.org/"><p>Learn more about this workshop ></p><a/>
        </div>
        <div class="work_section_last">
            <h3>
                Working with the Visionaria Institute
            </h3>
            <p>
                Kubmo started working with the Visionaria institute in January of 2015. The non-profit runs an institute program out of Cusco, Peru for young women to learn leadership and professional skills. We are working with them to develop technology curriculum and mentorship for the upcoming workshop in January, 2016.
            </p>
            <a class="ref_link" href="http://www.kubmo.builders/learn-more.pdf/"><p>Learn more about the curriculum ></p><a/>
        </div>
    </div>
</div>
