/* Note: preload and postload css is embedded in index.html directly! */

@import "bootstrap/variables.less";

@brand-primary: #15E2C4;
@hover-color: #35fee1;

a:hover {
    color: @hover-color;
}

body {
    background-color: #F4F4F4;
}

img {
    max-width: 100%;
}

.container-fluid {
    background-color: #ffffff;
}

#bay-image {
    height: 700px;
    background-image: url("/img/bay-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    overflow: hidden;

    .content {
        padding: 0 5%;
        margin: 0;
    }

    #lawler-logo {
        width: 357px;
        padding-top: 40px;
    }
    #tagline {
        color: white;
        font-weight: 100;
        margin: 0 auto;
    }

    .social-icons {
        margin-top: 30px;
        .icon {
            width: 60px;
            margin: 30px;
        }
    }

    /*
    Note: These values probably have to be changed
    if the tagline changes. Widths are defined in 
    boostrap/variables.less file.
    */
    @media (max-width: (@screen-xs-min - 1)) {
        // iPhone hits here when vertical
        #tagline { 
            font-size: 40px;
            padding-top: 180px;
            font-weight: 300;
        }
        .social-icons { 
            margin-top: 20px; 
            .icon {
                width: 40px;
                margin: 20px;
            }
        }
    }

    @media (min-width: @screen-xs-min) {
        #tagline { 
            font-size: 60px;
            padding-top: 180px;
            font-weight: 100;
        }
        .social-icons { 
            margin-top: 20px; 
            .icon {
                width: 50px;
                margin: 30px;
            }
        }
    }

    @media (min-width: @screen-sm-min) {
        #tagline { 
            font-size: 75px;
            padding-top: 160px;
            font-weight: 100;
        }
        .social-icons { margin-top: 30px; }
    }

    @media (min-width: @screen-md-min) {
        #tagline {
            padding-top: 200px;
            font-size: 75px;
        }
        .social-icons .icon {
            width: 60px;
        }
    }

    @media (min-width: @screen-lg-min) {
        #tagline {
            padding-top: 200px;
            font-size: 80px;
        }
        .social-icons .icon {
            width: 60px;
        }
        .content {
            padding: 0 10%;
        }
    }
}


.container-fluid {
    max-width: 1274px;
}


#jobs-carousel {
    @carousel-padding: 15px;
    padding-top: @carousel-padding;
    img {
    }
    .col-left {
        padding-left: @carousel-padding;
        padding-right: @carousel-padding * 1/3;
    }
    .col-middle {
        padding-left: @carousel-padding * 2/3;
        padding-right: @carousel-padding * 2/3;
    }
    .col-right {
        padding-left: @carousel-padding * 1/3;
        padding-right: @carousel-padding;
    }
}

#jobs-container {
    img {
        max-width: 100%;
    }
}

.mermaid-slide {
    display: none;
}

/*
This governs the carousel sections
*/
#mermaid-panel {
    // Between bottom of pane and buttons
    margin-bottom: 25px;
    // Shown by Mermaid.js
    display: none;
    h2 {
        font-size: 60px;
        font-weight: 300;
        text-align: center;
    }
    h3 {
        font-size: 36px;
        font-weight: 300;
        padding-top: 20px;
        text-align: center;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }

    .ref-link {
        text-decoration: none;
    }

    img.fitstar-product-1 {
        padding: 30px 12%;
    }

    .ipad {
        width:80%;
        margin: 0 auto;
        display: block;
        padding: 20px;
    }

    .iphone {
        width:50%;
        margin: 0 auto;
        display: block;
        padding: 20px;
    }

    .iphone_vert {
        width:20%;
        margin: 0 auto;
        display: block;
        padding: 20px;
    }

    .web {
        width:90%;
        margin: 0 auto;
        display: block;
        padding: 20px;
    }

    .product_images {
        padding-bottom: 20px;
    }

    @media (max-width: @screen-lg-min) {
        .ipad, .iphone, .web, .iphone_vert, img.fitstar-product-1 {
            width: 100%;
            padding: inherit 0;
        }
    }
}

#bottom-button-row {
    display: none; // For load
    background-color: @brand-primary;

    h3 {
        color: #ffffff;
        font-weight: 300;
        padding: 20px;
        margin: 0;
    }
    a:hover {
        text-decoration: none;
        color: #ffffff;
    }
    &:hover {
        background-color: @hover-color;
    }
}

.navbar {
    display: none; // Shown selectively by mermaid.js

    border: 0;
    height: @navbar-height;
    .container, .row, .col, .pull_right, a {
        height: @navbar-height;
    }
    a { display: inline-block;}
    background-color: @brand-primary;
    .center {text-align: center;}
    img {
        max-height: 100%;
        max-width: 100%;
        padding: 10px 0;
        &.icon {
            padding: 20px 0 20px 20px;
        }
    }
}

#jobs-stacked {
    .col {
        padding: 0;
    }
}

.work_section {
    border-bottom: 1px solid #ccc;
}

#jobs-carousel img {
    cursor: pointer;
}
